.form{
    width: 300px

}

.task{
    display: inline-block;
}

.card{
    width: 97%;
}

@media screen and (min-width: 512px) {
    .card{
        width: 30rem;
    }

.add-card{
    height: 10rem;
    border-style: dashed;
    border-width: 3px;
}
.emergency-card{
    width: 20rem;
    border-color: red;
    border-width: 3px;
    background-color: lightcoral;
}