{% extends 'default/index.html.twig' %}

{% block modal %}
    <!--  Modal ajout liste  -->
    <div class="modal fade" id="addListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Creer liste</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start (formList) }}
                <div class="m-3">
                {{ form_row(formList.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Creer</button>
                </div>
                {{ form_end (formList) }}

            </div>
        </div>
    </div>

{% endblock %}