{% extends 'base.html.twig' %}
{% block body %}

    <div class="form">

                    <h5 class="title" >Creer une liste</h5>


                {{ form_start (formList) }}
                <div class="m-3">
                {{ form_row(formList.name) }}
                </div>
                <div class="footer">
                    <a href="{{ path('index') }}" class="btn btn-secondary">Annuler</a>
                    <button type="submit" class="btn btn-primary">Creer</button>
                </div>
                {{ form_end (formList) }}
    </div>

{% endblock %}